/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  background-color: bisque;
}

/* menu */

.logo{
  width: 15%;
}

.main{
  margin-right: 18%; 
  margin-top: 0.3%;
}

/* container */

.foto{
  width: 20%;
  margin: auto;
  padding: auto;
}

.text {
  text-align: center;
}

.whatsapp{
  text-align: center;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag{
  display: flex;
  justify-content: center;
  align-items: center;
}

.person{
  text-align: center;
}

/* footer */

.footer{
  text-align: center;
  padding: 5%;
  font-weight: bolder;
  display: block;
}